/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #5FC298;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #009624;
  }
  
  /* Header styles */
  header {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #ffffff;
    color: #5FC298;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    opacity: 0.95;
    width: 100%;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    
    width: 2em; /* ajusta el ancho aquí */
    margin-right: 0.5em; /* agrega un margen derecho para separar la imagen del texto */
  }
  /* CSS para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Agregar botón para mostrar/ocultar menú */
  .menu-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Ocultar navegación */
  nav {
    display: none;
    width: 100%;
  }

  /* Mostrar menú como una lista vertical */
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
  }

  nav li {
    margin: 10px 0;
  }

  /* Cambiar el tamaño de fuente del título */
  header h1 {
    font-size: 24px;
    margin: 0;
  }

  /* Cambiar el tamaño de fuente de los enlaces de navegación */
  nav a {
    font-size: 20px;
    text-align: center;
  }

  /* Cambiar el color del enlace activo */
  nav a.active {
    color: #009624;
  }

  /* Cambiar el color del fondo cuando se muestra el menú */
  header.show-nav {
    background-color: #ffffff;
  }

  /* Cambiar el color del enlace del botón de menú cuando se muestra el menú */
  header.show-nav .menu-toggle {
    color: #5FC298;
  }

  /* Cambiar el estilo del botón de menú cuando se muestra el menú */
  header.show-nav .menu-toggle:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}

/* CSS para dispositivos de escritorio */
@media screen and (min-width: 768px) {
  /* Ocultar el botón de menú en dispositivos de escritorio */
  .menu-toggle {
    display: none;
  }

  /* Mostrar la navegación en dispositivos de escritorio */
  nav {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav li {
    margin: 0 10px;
  }

  header h1 {
    font-size: 28px;
  }

  nav a {
    font-size: 16px;
  }

  /* Añadir estilo al enlace activo */
  nav a.active {
    border-bottom: 2px solid #009624;
    padding-bottom: 4px;
  }
}

  
  /* Heroes section styles */
  #heroes .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .hero-description h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #5FC298;
    margin-bottom: 20px;
  }
  
  .hero-description p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
  }
  
  .hero-description {
    flex: 1;
    order: 2; /* el elemento aparecerá después en el orden */
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    order: 1; /* el elemento aparecerá primero en el orden */
  }
  
  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  
  @media only screen and (max-width: 768px) {
    #heroes .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero-description {
      order: 2;
      margin-top: 20px;
      text-align: center;
    }
    .hero-image {
      order: 1;
      margin-bottom: 20px;
    }
  }
  
  
  
  /* Value propositions section styles */

  
  #value-propositions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5FC298;
    background-image: url('./img/patron.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    background-blend-mode: multiply;
  }

  #value-propositions h2 {
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    padding: 10px 0px;
    transform: translateX(-50%);
  }
  
  
  #value-propositions .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    border: none;
    background-color: transparent;
    padding: 50px 0;
  }
  
  .value-proposition {
    flex: 1;
    height: 350px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
}

.value-proposition:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.value-proposition h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.value-proposition p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.value-proposition i {
    font-size: 3rem;
    margin-bottom: 10px;
    display: block;
}

@media screen and (max-width: 768px) {
    #value-propositions .container {
        flex-wrap: wrap;
    }
    .value-proposition {
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

  
  
  /* Contact section styles */
  @media (max-width: 767px) {
    #contact .row {
      flex-direction: column;
    }
  }
  
  #contact .card {
    border-radius: 10px;
  }
  
  #contact .card h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  #contact .card p {
    margin-bottom: 20px;
  }
  
  #contact .card form {
    margin-top: 20px;
  }
  
  #contact .card label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #contact .card input,
  #contact .card textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 16px;
  }
  
  #contact .card textarea {
    height: 200px;
  }
  
  #contact .card button {
    display: block;
    background-color: #5FC298;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #contact .card button:hover {
    background-color: #009624;
  }
  
  /* Nuevos estilos para ajustar los bloques en una sola fila en modo escritorio */
  @media (min-width: 768px) {
    #contact {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    #contact .col-md-6 {
      flex: 1;
    }
  }
  
  

  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  footer a {
    color: #fff;
    font-weight: bold;
  }
  
  @media screen and (max-width: 767px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    header h1 {
      margin-bottom: 20px;
    }
  
    header nav ul {
      margin-top: 20px;
      flex-wrap: wrap;
    }
  
    header nav ul li {
      margin-left: 0;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  
    #heroes {
      flex-direction: column;
      height: auto;
      padding: 100px 0;
    }
  
    .hero-description {
      margin-right: 0;
      text-align: center;
    }
  
    .hero-image {
      margin-top: 50px;
    }
  
    #value-propositions {
      padding: 50px 0;
    }
  
    .value-proposition {
      margin-bottom: 50px;
    }
  
    #contact {
      padding: 50px 0;
    }
  
    #contact form {
      max-width: none;
    }
  
    #contact input,
    #contact textarea {
      margin-bottom: 10px;
    }
  }
  

  .phone {
    width: 320px;
    height: 568px;
    margin: 50px auto;
    border-radius: 50px;
    border: 10px solid #222;
    background: #fff;
    overflow: hidden;
  }
  
  .screen {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .screen img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Canvas styles */
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  
  